<div class="container p-2">
    <div class="card card-body shadow">
        <div class="fw-light modal-header my-2">Lab tech [{{dr}}]<i class="fa fa-user fa-2x"></i></div>
        <div class="card-body card">
        <div class="row h6">
            <div class="col-md-3">
                <div class="form-label my-3"><b>Partient Id:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Full Name:<br /></b> [ {{title}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Amount Of Blood:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>HIV:<br /></b> [ {{title}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Pressure:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Weight:<br /></b> [ {{title}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Amount Of Blood:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Full Name:<br /></b> [ {{title}} ]</div>
            </div>
        </div>
        </div>

        <div class="fw-light modal-header my-2">Lab tech [{{dr}}]<i class="fa fa-flask fa-2x"></i></div>
        <div class="card-body card">
        <div class="row h6">
            <div class="col-md-3">
                <div class="form-label my-3"><b>Partient Id:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Full Name:<br /></b> [ {{title}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Amount Of Blood:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>HIV:<br /></b> [ {{title}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Pressure:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Weight:<br /></b> [ {{title}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Amount Of Blood:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Full Name:<br /></b> [ {{title}} ]</div>
            </div>
        </div>
        </div>

        <div class="fw-light modal-header my-2">Lab tech [{{dr}}]<i class="fa fa-user-doctor fa-2x"></i></div>
        <div class="card-body card">
        <div class="row h6">
            <div class="col-md-3">
                <div class="form-label my-3"><b>Partient Id:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Full Name:<br /></b> [ {{title}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Amount Of Blood:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>HIV:<br /></b> [ {{title}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Pressure:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Weight:<br /></b> [ {{title}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Amount Of Blood:<br /></b> [ {{id}} ]</div>
            </div>
            <div class="col-md-3">
                <div class="form-label my-3"><b>Full Name:<br /></b> [ {{title}} ]</div>
            </div>
        </div>
        </div>
        <div class="text-center my-2">
            <a routerLink="../details"><button mat-raised-button color="primary">Save</button></a>

        </div>

    </div>
</div>