
<div class="row p-5">
    <div>
        <div class="col-md-12 card card-body shadow" style="width: 50%; left: 25%;">
            <div class="modal-header mb-3">Patient  <i class="fa fa-user-doctor fa-2x"></i></div>
           <div class="divider"></div>
            <div class="row">
                   
                
            <div class="col-md-6 mb-3" >
                <div class="Form-label ">Patient Id</div>
                <div><input type="text"  class="form-control card shadow-sm" required></div>
            </div>
              
            </div>
          
            <div class="row">
            <div class="col-md-12 mb-3 text-center">

                <a routerLink="../patient-form"><button mat-raised-button color="primary">Enter</button></a>
            </div>
                 
            </div>
        </div>
    </div>
</div>