
<div class="row p-5">
    <div>
        <div class="col-md-12 card card-body shadow" style="width: 50%; left: 25%;">
            <div class="modal-header mb-3">PARTIENT LAB RESULT <i class="fa fa-user"></i></div>
           <div class="divider"></div>
            <div class="row">
                    <div class="col-md-6 mb-3">
                    <div class="Form-label">Partient Name:</div>
                    <input type="text"  class="form-control card bg-white" value="{{pName}}" disabled>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="Form-label">Partient Id:</div>
                    <input type="text"  class="form-control card bg-white" value="{{pId}}" disabled>
                </div>
            <div class="col-md-6 mb-3">
                <div class="Form-label">Amount of Blood</div>
                <div><input type="text"  class="form-control card shadow-sm" required></div>
            </div>
                    <div class="col-md-6 mb-3">
                <div class="Form-label">HIV</div>

                <div>
                <select name="" id=""  class="form-select" required>
                    <option value="" selected hidden disabled></option>
                    <option value="Positive">Positive</option>
                    <option value="Negative">Negative</option>
                </select>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="Form-label">Pressure</div>
                    <div><input type="text"  class="form-control card shadow-sm"></div>
                </div>
                        <div class="col-md-6 mb-3">
                    <div class="Form-label">Weight</div>
                    <div><input type="text"  class="form-control"></div>
                </div>
                </div>
            <div class="row">
            <div class="col-md-12 mb-3 text-center">
               <a routerLink="../details"><button mat-raised-button color="primary">Send to Doctor</button></a> 
            </div>
                 
            </div>
        </div>
    </div>
</div>