<div class="row p-4">
    <!-- first-card -->
    <div class="col-md-3 mb-3">
        <div class="card card-body bg-light shadow b-design">
            <div class="mb-2 "> 
                <span class="divider">Total partient:</span>
            </div>
            <span><i class="fa fa-user-doctor fa-2x"></i></span>
            <div  class="right-hand">
                <span>25</span>
            </div>
        </div>
    </div>
    <!-- second-card -->
    <div class="col-md-3 mb-3">
        <div class="card card-body bg-light shadow b-design">
            <div class="mb-2 "> 
                <span class="divider">Total partient:</span>
            </div>
            <span><i class="fa fa-user-doctor fa-2x"></i></span>
            <div  class="right-hand">
                <span>25</span>
            </div>
        </div>
    </div>
    <!-- third-card -->
    <div class="col-md-3 mb-3">
        <div class="card card-body bg-light shadow b-design">
            <div class="mb-2 "> 
                <span class="divider">Total partient:</span>
            </div>
            <span><i class="fa fa-user-doctor fa-2x"></i></span>
            <div  class="right-hand">
                <span>25</span>
            </div>
        </div>
    </div>
    <!-- forth-card -->
    <div class="col-md-3 mb-3">
        <div class="card card-body bg-light shadow b-design">
            <div class="mb-2 "> 
                <span class="divider">Total partient:</span>
            </div>
            <span><i class="fa fa-user-doctor fa-2x"></i></span>
            <div  class="right-hand">
                <span>25</span>
            </div>
        </div>
    </div>
</div>